# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [1]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [2]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [3]:
# Count by hand. (lol kidding)
df_food.shape

(125, 61)

What are the columns and their types in this data set?

In [4]:
# Show the column names and their types.
df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [5]:
# Remove ‚Äòem.
columns_keep = ['calories_day','weight','Gender']
df_food = df_food[columns_keep]
df_food.dtypes

calories_day    float64
weight           object
Gender            int64
dtype: object

What about `NaN`s? How many are there?

In [7]:
# Count ‚Äòem.    one call of sum for nans per column, second sum for total
total_nans = df_food.isna().sum().sum()
print(total_nans)

21

We gotta remove those `NaN`s‚Äïthe entire row.

In [13]:
# Drop ‚Äòem.
df_cleaned = df_food.dropna()
print(df_cleaned.isna().sum().sum())
df_cleaned.head

0

<bound method NDFrame.head of      calories_day                    weight  Gender
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
5             3.0                       190       1
..            ...                       ...     ...
118           3.0                       140       1
119           3.0                       185       2
120           4.0                       156       1
121           2.0                       180       1
123           4.0                       135       2

[104 rows x 3 columns]>

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [17]:
# Fix that.   using loc to avoid warning, not sure if it matters here maybe just enforcing good practice
#errors='coerce' will specify to change all non-numeric values to NaNs
df_cleaned.loc[:, 'weight'] = pd.to_numeric(df_cleaned['weight'], errors='coerce')
df_cleaned = df_cleaned.dropna(subset=['weight'])
df_cleaned.head

<bound method NDFrame.head of      calories_day  weight  Gender
1             3.0   155.0       1
4             2.0   190.0       1
5             3.0   190.0       1
6             3.0   180.0       2
7             3.0   137.0       1
..            ...     ...     ...
118           3.0   140.0       1
119           3.0   185.0       2
120           4.0   156.0       1
121           2.0   180.0       1
123           4.0   135.0       2

[101 rows x 3 columns]>

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [18]:
# Savey save!
df_cleaned.to_csv('cleaned_data.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [22]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
survey_path = 'data/manager_salary_survey_2021.tsv'
df_survey = pd.read_csv(survey_path,sep='\t')

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [23]:
# Count by hand. I‚Äôm dead serious.
df_survey.shape

(28062, 18)

What are the columns and their types?

In [24]:
# Show the column names and their types.
df_survey.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [30]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed, gender, race
new_column_names = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']
df_survey.columns = new_column_names
#df_survey.dtypes
#df_survey.head

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [31]:
# List the unique industries and a count of their instances.
industry_counts = df_survey['industry'].value_counts()
print(industry_counts)

industry
Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [33]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
df_salary_tech = df_survey[df_survey['industry']=='Computing or Tech']
df_salary_tech.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [34]:
# Sanity Check 
df_salary_tech.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [36]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech = df_salary_tech[df_salary_tech['currency']=='USD']
df_salary_tech.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [37]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
country_count = df_salary_tech['country'].value_counts()
print(country_count)

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Pakistan                       1
Puerto Rico                    1
America                        1
Uniyed states                  1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [41]:
# Replace them all with 'US'.
df_salary_tech['country'] = df_salary_tech['country'].replace(['United States', 'USA', 'U.S.', 'United States of America'], 'US')
df_salary_tech.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,US,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",US,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,US,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White

Have a look at the count of each unique country again now.

In [42]:
# Count again.
country_count = df_salary_tech['country'].value_counts()
print(country_count)

country
US                3408
United States       68
Usa                 59
USA                 56
usa                 28
                  ...
Mexico               1
United Stateds       1
ISA                  1
singapore            1
Burma                1
Name: count, Length: 72, dtype: int64

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [44]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
#salary_stats_by_state = df_salary_tech.groupby('state')['salary'].agg(['min', 'mean', 'max'])
#print(salary_stats_by_state)

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [45]:
# Fix it.
df_salary_tech['salary'] = pd.to_numeric(df_salary_tech['salary'], errors='coerce')

# Drop rows where 'salary' is NaN
df_salary_tech = df_salary_tech.dropna(subset=['salary'])

Let‚Äôs try that again.

In [47]:
# Try it again. Yeah!
salary_stats_by_state = df_salary_tech.groupby('state')['salary'].agg(['min', 'mean', 'max'])
print(salary_stats_by_state)

                                min_salary    mean_salary  max_salary
state
Alabama                            35000.0  117400.000000    350000.0
Arizona                            35000.0   97833.333333    145000.0
Arkansas                               4.0   58001.000000     95000.0
California                             0.0  153286.988827    520000.0
California, Colorado              176000.0  176000.000000    176000.0
California, Maryland               81500.0   81500.000000     81500.0
California, Oregon                200000.0  200000.000000    200000.0
Colorado                           49400.0  109291.891892    165000.0
Connecticut                        68000.0  161610.000000    270000.0
Delaware                          169000.0  169000.000000    169000.0
District of Columbia               59000.0  142923.076923    200000.0
District of Columbia, Virginia    109200.0  109200.000000    109200.0
Florida                            28800.0  210711.000000   2600000.0
Georgia                            29120.0  115297.647059    242000.0
Idaho                              74860.0  105465.000000    170000.0
Illinois                           36000.0  117555.571429    228800.0
Indiana                            15000.0   82875.000000    140000.0
Iowa                               63000.0  101200.000000    142000.0
Kansas                             41500.0  109666.666667    167000.0
Kentucky                           62000.0  102500.000000    125000.0
Louisiana                          75000.0   80500.000000     84000.0
Louisiana, Washington             117000.0  117000.000000    117000.0
Maine                              50000.0  103833.333333    173000.0
Maryland                           62000.0  119955.461538    176000.0
Massachusetts                      41000.0  125899.155844    400000.0
Michigan                           41600.0   95758.823529    235000.0
Michigan, Texas, Washington       340000.0  340000.000000    340000.0
Minnesota                          52124.0  101064.941176    210000.0
Missouri                              80.0   80339.923077    200000.0
Montana                            65000.0  112666.666667    145000.0
Nebraska                           43000.0   76736.000000    140000.0
Nevada                            107100.0  124550.000000    142000.0
New Hampshire                         55.0   87175.833333    130000.0
New Jersey                         67500.0  124090.909091    192000.0
New Jersey, New York              135000.0  137500.000000    140000.0
New Mexico                         82000.0   95733.333333    115200.0
New York                           14000.0  146594.112150    590000.0
North Carolina                     29000.0   97841.666667    165000.0
Ohio                               42000.0  137066.666667    954000.0
Oklahoma                           36958.0   84802.571429    180000.0
Oregon                             16200.0  122640.000000    230000.0
Pennsylvania                       52000.0  116826.388889    237000.0
Rhode Island                       76000.0   99475.000000    122950.0
South Carolina                     40000.0   40000.000000     40000.0
Tennessee                          61500.0   91750.000000    144000.0
Texas                              10700.0  103685.245902    190000.0
Utah                               33280.0  105023.333333    176000.0
Vermont                            91250.0  105625.000000    120000.0
Virginia                           58750.0  115086.696970    378000.0
Washington                            72.0  136923.916667    300000.0
West Virginia                     120000.0  120000.000000    120000.0
Wisconsin                              1.0  145806.888889    920000.0

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [51]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.
# Make a copy to avoid SettingWithCopyWarning jk why is timestamp not a temporal type just change it
df_salary_tech.loc[:, 'timestamp'] = pd.to_datetime(df_salary_tech['timestamp'], errors='coerce')
df_filtered = df_salary_tech[df_salary_tech['timestamp'].dt.year.isin([2021, 2022, 2023])]

salary_stats_by_state = df_filtered.groupby('state')['salary'].agg(['min', 'mean', 'max'])
print(salary_stats_by_state)

                                     min           mean       max
state
Alabama                          52000.0  138000.000000  350000.0
Arizona                          35000.0   97833.333333  145000.0
Arkansas                         60000.0   77333.333333   95000.0
California                           0.0  153754.893258  520000.0
California, Colorado            176000.0  176000.000000  176000.0
California, Maryland             81500.0   81500.000000   81500.0
California, Oregon              200000.0  200000.000000  200000.0
Colorado                         49400.0  109291.891892  165000.0
Connecticut                      68000.0  161610.000000  270000.0
Delaware                        169000.0  169000.000000  169000.0
District of Columbia             59000.0  142923.076923  200000.0
District of Columbia, Virginia  109200.0  109200.000000  109200.0
Florida                          28800.0  102106.954545  170000.0
Georgia                          29120.0  115488.484848  242000.0
Idaho                            74860.0  105465.000000  170000.0
Illinois                         36000.0  119248.382353  228800.0
Indiana                          15000.0   82875.000000  140000.0
Iowa                             63000.0  101200.000000  142000.0
Kansas                           41500.0  109666.666667  167000.0
Kentucky                         62000.0  102500.000000  125000.0
Louisiana                        75000.0   80500.000000   84000.0
Louisiana, Washington           117000.0  117000.000000  117000.0
Maine                            50000.0  103833.333333  173000.0
Maryland                         62000.0  119955.461538  176000.0
Massachusetts                    41000.0  125660.986842  400000.0
Michigan                         41600.0   95758.823529  235000.0
Michigan, Texas, Washington     340000.0  340000.000000  340000.0
Minnesota                        52124.0  102381.500000  210000.0
Missouri                            80.0   80339.923077  200000.0
Montana                          65000.0  112666.666667  145000.0
Nebraska                         43000.0   76736.000000  140000.0
Nevada                          107100.0  124550.000000  142000.0
New Hampshire                       55.0   87175.833333  130000.0
New Jersey                       67500.0  124090.909091  192000.0
New Jersey, New York            135000.0  137500.000000  140000.0
New Mexico                       82000.0   95733.333333  115200.0
New York                         14000.0  146594.112150  590000.0
North Carolina                   29000.0   97250.000000  165000.0
Ohio                             42000.0  137066.666667  954000.0
Oklahoma                         36958.0   84802.571429  180000.0
Oregon                           16200.0  122640.000000  230000.0
Pennsylvania                     52000.0  116826.388889  237000.0
Rhode Island                     76000.0   99475.000000  122950.0
Tennessee                        61500.0   91750.000000  144000.0
Texas                            10700.0  103685.245902  190000.0
Utah                             33280.0  105023.333333  176000.0
Vermont                          91250.0  105625.000000  120000.0
Virginia                         58750.0  115086.696970  378000.0
Washington                          72.0  137427.774648  300000.0
West Virginia                   120000.0  120000.000000  120000.0
Wisconsin                            1.0  145806.888889  920000.0

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)